@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {

    font-family: 'Inter', sans-serif;
}

.component1 {
    background-color: #520BAC;
    width: 30%;
    height: 400px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 86px;
    border-radius: 20px;

}

.h1 {
    padding-top: 7%;
    padding-left: 10%;
    padding-bottom: 8%;
    float: left;
    color: #eee;
    width: 71%;
}

.component1 input {

    height: 50px;
    width: 90%;
    margin-left: 5%;
    /* margin-right: 2%; */
    border-radius: 18px;
    border-style: none;
    background-color: #7C2FDF;
    font-size: 20px;
    color: #eee;
    padding: 10px;
}
.component1 textarea{
      height: 100px;
      width: 90%;
      border-radius: 18px;
      border-style: none;
      background-color: #7C2FDF;
      font-size: 20px;
      color: #eee;
      padding: 10px;
      margin-left: 5%;
}
.component1{
    text-align: left;
}

.componentplus {
    background-color: #520BAC;
    width: 28%;
    height: 5%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 84px;
    border-radius: 15px;
    text-align: center;
    color: #eee;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;

}

.componentplus :hover {
    background-color: #7C2FDF;
    border-radius: 20px;

}

.componentplus2 {
    background-color: #520BAC;
    width: 28%;
    height: 5%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 15px;
    text-align: center;
    color: #eee;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;

}

.componentplus2 :hover {
    background-color: #8F3DF6;
    border-radius: 20px;

}

.title{
    font-size: 4vh;
    text-align: center;
    padding: 5%;
}
label{
    font-size: 3vh;
    padding-left: 5%;
    color: #fff;
    text-align: center;
}


button {
    margin-left: 42%;
    margin-top: 3%;
    border-radius: 5px;
    padding: 2%;
    cursor: pointer;
    border: none;
    /* height: 3vh; */
}

button:hover {
    background-color: #7C2FDF;
    box-shadow: 4px 0px #17bcc2
}