* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    
}

html {
    font-size: 62.5%;
}
header{
background-color: #1c1a2b;
height: 50px;
color: #eee;
}
header h1{
float: left;
}

body{
        background-color: #020017;

}
.left{
        box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    background-color: #282734;
    float: left;
    width: 45%;
        height: 100vh;
        position: absolute;

}
.container {
    width: 55%;
    height: 100vh;
    float: right;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 60rem;
    height: 63rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #5c11b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
        margin: 1.15rem;

    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
    justify-content: center;
}

.days div {
    font-size: 3.5rem;
    margin: 1.30rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #167e56;
}
header .myheader h3{
    /* display: inline-block; */
    float: right;
}
header .myheader .perfil{
    width: 50px;
    height: 40px;
    /* display: inline-block; */
    border-radius: 50px;
    float: right;
}

.component{
    background-color: #5F0033;
    width: 28%;
    height: 200px;
    position: relative;
    margin:auto;
 left: 0;
 right: 0;
 bottom: 0;
 top: 86px;
    border-radius: 20px;

}
.component h1{
        padding-top: 7%;
                padding-left: 7%;
            padding-bottom: 8%;

        padding-right: 15%;
    color: #eee;
}
.component input{

    height: 50px;
    width: 83%;
            margin-left: 8%;
            /* color: #eee; */
            border-radius: 18px;
            border-style: none;
            background-color: #6D4F5F;
            font-size: 20px;
            color: #eee;
            padding: 10px;
}

.componentplus {
    background-color: #5F0033;
    width: 28%;
    height: 5%;
    position: absolute;
    margin: auto;
 left: 0;
 right: 0;
 bottom: 0;
 top: 84px;
    border-radius: 15px;
    text-align: center;
    color: #eee;
            padding: 5px;
            cursor: pointer;
            font-size: 12px;

}

.componentplus :hover{
background-color: #6D4F5F;
    border-radius: 20px;

}
.componentplus2 {
    background-color: #5F0033;
    width: 28%;
    height: 5%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 15px;
    text-align: center;
    color: #eee;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;

}

.componentplus2 :hover {
    background-color: #6D4F5F;
    border-radius: 20px;

}
/* .body{
    display: inline-block;
} */