<header>
    <h1 id="nav-title" style="padding: 1%;">Planner</h1>
    <nav>
        <ul>
            <li>
                <div class="myheader">
                    <img class="perfil" style="margin-top: 5px; margin-right: 5px" src="/./<%= user.perfilpic%>" alt="" />
                    <h3 style="padding: 1%">
                        <%= user.nome%>
                    </h3>
                </div>
            </li>
            <li style="float: right; padding: 0.1%; font-size: 12px; list-style-type: none;"><a href="/logout">Sair</a></li>
        </ul>
        <!-- <ul>
            <li><a href="/filmes">FILMES</a></li>
            <li><a href="/login.html">LOGIN</a></li>
            <li><a href="/filmes/cadastrar">CADASTRAR</a></li>
        </ul> -->
    </nav>
</header>