<header>
    <h1 id="nav-title">teste</h1>
    <nav>
        <ul>
            <li>
                <div class="myheader">
                    <img class="perfil" src="/./<%= user.perfilpic%>" alt="" />
                    <h3>
                        <%= user.nome%>
                    </h3>
                </div>
            </li>
        </ul>
        <!-- <ul>
            <li><a href="/filmes">FILMES</a></li>
            <li><a href="/login.html">LOGIN</a></li>
            <li><a href="/filmes/cadastrar">CADASTRAR</a></li>
        </ul> -->
    </nav>
</header>