<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
    <%- include('includes/navbar') %>
    <link rel="stylesheet" href="/css/style2.css" />

<body>
    <div class="body">
    <div class="component1">
        <h1>Adicionar empresa</h1>
        <form action="/empresa/cadastroempresa" method="post">
            <label for="nome">Nome</label>
            <input type="text" name="nome">
            <button type="submit">Cadastrar</button>
        </form>
    </div>
        <!-- <button class="componentplus2">
            <h2>Adicionar empresa</h2>
        </button> -->
        </div>
</body>
</html>