<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
    <%- include('includes/navbar') %>

<body>
    <div class="body">
    <div class="component">
        <div class="h1">
        <h1>Você faz parte de alguma empresa? </h1>
        </div>
        <div class="icon"><i class="fa-solid fa-briefcase"></i></div>
        <form action="/empresa/empresauser" id="form" method="post">
            <select class="empresas" name="empresaid" id="empresaid">
                
                <% empresas.forEach(empresa=> { %>
                <option value="<%-empresa.id%>"><%- empresa.nome %></option>
                <% }) %>
            </select>

    </form>
    </div>
    <a href="/empresa/addempresa">
        <button class="componentplus">
            <h2>Adicionar empresa</h2>
        </button>
        </a>
        <button form="form" class="componentplus2">
            <h2>Continuar</h2>
        </button>
        </div>
</body>
</html>