<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
    <%- include('includes/navbar') %>

<body>
    <div class="body">
    <div class="component">
        <h1>Você faz parte de alguma empresa?</h1>
        <input type="text" list="cars" />
        <datalist id="cars">
            <option>Volvo</option>
            <option>Saab</option>
            <option>Mercedes</option>
            <option>Audi</option>
        </datalist>
    </div>
        <div class="componentplus">
            <h2>Adicionar empresa</h2>
        </div>
        </div>
</body>
</html>